/* Estilos para dispositivos desktop */

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sobre nós HOME */
/* Estilos para a seção Sobre Nós */
#about {
    background-color: #f0f8ff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* Para separar do próximo conteúdo */
}

#about h2 {
    text-align: center;
    color: #009e91;
    margin-bottom: 1rem;
}

.about-content p {
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #333;
}

.about-content ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.about-content ul li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
    color: #333;
}
/* sobre nós HOME fim */

header {
    display: flex;
    position: fixed; /* Fixa o cabeçalho na parte superior */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    height: auto;
    background-color: #009e9195;  
    color: white;
    padding: 5px;
    text-align: center;
    align-items: center;
    z-index: 9999; /* Garante que o cabeçalho esteja sempre na frente */
}

.logo-img {
    width: 50px;
    height: 50px;
}

/* .logo {
    margin-right: auto;
} */

header h1 {
    margin: 0;
    margin-top: 2px;
    padding-left: 20px;
}

header p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding-left: 500px;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 80px;
}

section {
    margin-bottom: 2rem;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #009e91;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5c5c5c;
}

#map-container {
    width: 100%;
    height: 400px;
    background-color: #ecf0f1;
}

footer {
    background-color: #009e9195;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
}

footer p {
    margin: 0;
}

.integrantes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.integrantes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: auto;
    position: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    padding-top: 10px;
    text-align: center;
    }
    
    .integrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
    }
    
    .integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    }
    
    .integrante h2 {
    margin: 0;
    }
    
    .integrante p {
    margin: 0;
    }
    
    .integrante a {
    text-decoration: none;
    color: blue;
    }
    
    .github {
    justify-content: center;
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    width: auto;
    height: auto;
    position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    text-align: center;
    }
    
    i {
    font-size: 30px;
    color: #000000;
    }

    /* _______________________chatbot____________________________________ */

    
    /* ___________________fimchatbot___________________________________________ */

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
        display: grid;
    }

    nav ul {
        display: flex; /* Exibe o menu principal como uma linha em dispositivos desktop */
        justify-content: center; /* Alinha os itens do menu ao centro */
    }

    nav ul li {
        display: inline;
        margin: 0 1rem;
    }

    main {
        padding: 80px;
    }

    form input, form textarea {
        width: calc(100% - 1rem);
    }

    /* Estilos para o menu hamburguer */
    .menu-toggle {
        display: block; /* Exibindo o hamburguer em dispositivos móveis */
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 9999;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .logo {
        display: none; /* Escondendo o logo em dispositivos móveis */
    }

    nav ul {
        display: none; /* Escondendo o menu principal em dispositivos móveis */
        position: fixed;
        top: 0;
        right: 0;
        background-color: #009e91;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    /* Exibindo o menu principal quando o hamburguer está aberto */
    .menu-open nav ul {
        display: block;
    }
}