* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILO PARA PAGINA MENU*/
#about {
    background-color: #e3f2ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;

    & h2 {
        text-align: center;
        color: #009e91;
        margin-bottom: 1rem;
}}

.about-content p {
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #333;
& ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}}

.about-content ul li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
    color: #333;
}

/* ESTILO PARA HEADER */
header {
    display: flex;
    position: fixed; /* Fixa o cabeçalho na parte superior */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    height: auto;
    background-color: #009e9195;  
    color: white;
    padding: 0;
    text-align: center;
    align-items: center;
    z-index: 9999; /* Garante que o cabeçalho esteja sempre na frente */
}

.logo-img {
    width: 70px;
    height: 70px;
    padding: 0;
}

header h1 {
    margin: 0;
    margin-top: 2px;
    padding-right: 20px;
    padding-left: 20px;
    transition: transform 0.3s ease;
}

header h1:hover {
    transform: scale(1.1);
}

header p {
    margin: 0;
}

/* ESTILO PARA formulario */

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Para centralizar verticalmente na tela inteira */
}

#formulario h2 {
    margin-bottom: 20px; /* Espaçamento inferior */
}

#formulario form {
    width: 300px; /* Largura do formulário */
    text-align: center; /* Centralizar conteúdo do formulário */
}

#formulario form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

#formulario form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#button {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#button:first-child {
    background-color: #009e91;
    color: white;
}

#button:last-child {
    background-color: #ccc;
    color: black;
}

#button:hover {
    background-color: #5c5c5c;
}

/* ESTILO INDEX */
#ibutton {
    text-align: center;
    display: inline;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #009e91;
}

#ibutton:hover {
    background-color: #5c5c5c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; 
}

.container h2 {
    margin-bottom: 20px; 
}

/* ESTILO TEXT CONTENT */

.text-content {
    border: 1px solid #ccc;
    padding: 9px;
}
/* ESTILO MENU */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
/* ESTILO MAIN */
main {
    padding: 80px;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.rsenha {
    color: rgb(0, 38, 255);
    cursor: pointer;
    text-decoration: underline;
}

#map-container img{
    width: 50%;
    height: 50%;
}

footer {
    background-color: #009e9195;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;

& p {
    margin: 0;
}}

/* ESTILO PARA PAGINA DE INTEGRANTES */

.integrantes-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    
    & .integrante {  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    
    
    & img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    
    
    & h2 {
    margin: 0;
    
    
    & p {
    margin: 0;
    
    
    & a {
    text-decoration: none;
    color: blue;
    }}}}}}
    
    i {
    font-size: 30px;
    color: #000000;
    }

    /* _______________________chatbot____________________________________ */

    /* ___________________fim chatbot___________________________________________ */

/* ESTILO RESPONSIVO PARA DISPOSITIVOS MOVEIS */
@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
        display: grid;
    }

    nav ul {
        display: flex; /* Exibe o menu principal como uma linha em dispositivos desktop */
        justify-content: center; /* Alinha os itens do menu ao centro */
        height: 100%; /* Garante que o menu ocupe toda a altura do cabeçalho */
    }

    nav ul li {
        display: inline;
        margin: 0 1rem;
    }

    main {
        padding: 80px;
    }

    form input, form textarea {
        width: calc(100% - 1rem);
    }

    
    .menu-toggle {
        display: block; /* Exibindo o hamburguer em dispositivos móveis */
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 9999;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .logo {
        display: none; /* Escondendo o logo em dispositivos móveis */
    }

    nav ul {
        display: none; /* Escondendo o menu principal em dispositivos móveis */
        position: fixed;
        top: 0;
        right: 0;
        background-color: #009e91;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    /* Exibindo o menu principal quando o hamburguer está aberto */
    .menu-open nav ul {
        display: block;
    }
}